html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 190px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 130px;
    padding-bottom: 130px;
    padding-top: 37px;
    position: absolute;
    width: 100%;
}