.LoadFileBtn {
	position: relative;
	overflow: hidden;
	margin: 0px;
}
.LoadFileBtn input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}/*
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:249px;
    height:19px;
    /*background:url(check_radio_sheet.png) left top no-repeat;
}*/
.advButton {
    margin:0;
    /*float:left;*/
}

.button {
    margin:0;
}

.modeStatus {
    text-align: center;
    font-size: 2em;

}

#elementType {
    display : block;

}
#MCAToolTitle_div {
    overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 3%;
    position: absolute;
    /*top: 0%;*/
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: black solid 1px;*/
}
#MCATool {
    overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 97%;
    position: absolute;
    top: 3%;
    left: 0%;
    
}

/*#finalScore_div {
     overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 30%;
    position: absolute;
    left: 50%;
    /*border:red solid 3px;*/
    /*border-radius:13px;*/
    /*border: black solid 1px;*/

#finalScoreTitle_div {
    overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 3%;
    position: absolute;
    left: 50%;
    /*text-align: center;
    vertical-align: middle;
    line-height: 100%;*/
    /*border:red solid 3px;*/
    /*border-radius:13px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: black solid 1px;*/
}
 #finalScoreOverview_div {
    overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: 3%;
    /*border:red solid 3px;*/
    /*border-radius:13px;*/
    /*border: black solid 1px;*/
}
 #finalScoreTab_div {
     overflow-x: auto;
    overflow-y: auto;
    width: 50%;
    height: 30%;
    position: absolute;
    left: 50%;
    /*border:red solid 3px;*/
    /*border-radius:13px;*/
    /*border: black solid 1px;*/
}
#finalScoreChartOverview_div {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    /*border: black solid 1px;*/
}
#finalScoreChartTab_div {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    /*border: black solid 1px;*/
}

#finalScoreObjectiveOverview_div {
    width: 18%;
    height: 25%;
    position: absolute;
    left: 0%;
    /*border: black solid 1px;*/
}

#finalScoreObjectiveTab_div {
    width: 18%;
    height: 25%;
    position: absolute;
    left: 0%;
    /*border: black solid 1px;*/
}

#finalScoreSegmentsOverview_div {
    width: 18%;
    height: 25%;
    position: absolute;
    left: 0%;
    top:27%;
    /*border: black solid 1px;*/
}
#finalScoreSegmentsTab_div {
    width: 18%;
    height: 25%;
    position: absolute;
    left: 0%;
    top:27%;
    /*border: black solid 1px;*/
}
#finalScoreBars_div {
    width: 18%;
    height: 25%;
    position: absolute;
    left: 0%;
    top: 54%;
    /*border: black solid 1px;*/
}
#finalScoreScoreAsText_Button {
    width: 18%;
    height: 12%;
    position: absolute;
    left: 3%;
    bottom: 2%;
    /*border: black solid 1px;*/
}

#consequenceTableTitle_div {
    overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 3%;
    position: absolute;
    left: 50%;
    top: 35%;
    /*border:red solid 3px;*/
    /*border-radius:13px;*/
    /*border: black solid 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#MCADataTable {
    overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 30%;
    position: absolute;
    top: 38%;
    left: 50%;
}

#MCAContainer {
    width: 100%;
    height: 800px;
    margin: 2px;
    /*border:red solid 3px;*/
    position: relative;
    border-radius:3px;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #aaaaaa;
	background-color: #888888;
}
