/*#SenAna {
  height:500px; 
  width:900px; 
  border:blue solid 2px;
} 
.senana {margin: 5px;border:black solid 1px;position: relative;
display: inline-block;    
}  
#lineChart_div {  
    height:300px; 
    width:200px; 
    display: inline;
}
#tableChart_div{ 
    height: 300px;
    width: 200px;
}
#dropdownControl_div {
  height: 200px;
  width: 150px; 
  //float: left;
}
#dropdownControlSub_div {
  height: 200px;
  width: 150px;
}
#sliderControl_div {
  height: 25px;
  width: 200px;
  float: right;
}*/
.ui-selectmenu-button{width:100%}
select {width: 100%}
#SenanaTitle_div {
    overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 3%;
    position: absolute;
    left: 50%;
    top: 70%;
    /*border:red solid 3px;*/
    /*border-radius:13px;*/
    /*border: black solid 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#SenAna {
  overflow-x: auto;
    overflow-y: auto;
    width: 48%;
    height: 27%;
  /*border:black solid 2px;*/
  position: absolute;
  top : 73%;
  left : 50%;
  display: inline-block;
  
} 
.senana {
    margin: 2px;
    border:black solid 1px;
    border-radius:3px;
    position: absolute;
    
}  
#lineChart_div {  
    height:80%; 
    width:49%; 
    left: 17%;
    top: 2%;
}
#tableChart_div{ 
    height: 80%;
    width: 27%;
    top: 2%;
    left: 67%;
}
#dropdownControl_div {
  height: 38%;
  width: 14%;
  top: 2%;
  left: 2%;
}
#dropdownControlSub_div {
  height: 38%;
  width: 14%;
  top: 43%;
  left: 2%;
}
#sliderControl_div {
  
  width: 35%;
  /*height: 10%;*/
  bottom: 8%;
    left: 24%;
}
#sliderValDebug {
  height: 10%;
  width: 10%;
  bottom: 2%;
  right: 14%;
}
#sliderValNormDebug {
  height: 10%;
  width: 10%;
  bottom: 2%;
  right: 2%;
}