
.defTable_div, .valuesTable_div {
	margin-top: 10px;
	border-collapse: collapse;
	vertical-align: middle;
	}
	
.defTable_div td, th {
    border: 1px solid #000000; 
    padding: 3px;
}

.defTable_div th {
    background-color: #AFD9EE;
}
.defTable_div td {
    background-color: #E1EDF7;
}

.description_div {
	margin-top: 10px;
}

.valuesTable_div td, th {
    border: 1px solid #000000; 
    padding: 3px;
}

.valuesTable_div th {
    background-color: #C1E2B3;
}
.valuesTable_div td {
    background-color: #DFF0D8;
}
.dialogButton {
	margin-top: 10px;
}
.setDecision {
    border: 3.5px solid
}
.setEvidence{
    border: 3.5px solid
}
.editableTable .editable input[type=text]{
     
}
input {
    width: 100%;
    padding: 1px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.info_div {
    font-weight: bold;
}
td {
min-width:50px
}
.buttonFooter {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
    bottom: 0;
    position: absolute;
}
.dialogDiv {
    position: absolute;
}
.voiMainTable {
    width: 100%;
    height: 100%;
}
.voicell {
    padding-right: 70px;
}
#voiTable {
    margin-bottom: 10px;
}
.mainVOIDiv {
    overflow: hidden;
} 